body {
    background-color: rgb(240, 239, 242);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header__logo {
    margin: 10px 20px;
}

.header__nav ul {
    display: flex;
    list-style-type: none;
    font-size: 22px;
}

.header__nav li {
    margin-right: 50px;
}

.header__nav a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    line-height: 36px;
}

.header__nav form {
    height: 100%;
}

.header__nav button {
    padding: 0;
    border: none;
    height: 100%;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
