.stamp-request__wrapper {
    margin: 80px auto 50px;
    max-width: 1000px;
}

.stamp-request__title {
    padding-left: 20px;
    line-height: 1.5;
    text-align: left;
    font-size: 28px;
    margin-bottom: 50px;
    border-left: 8px solid black;
}

.stamp-request__tab {
    display: flex;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

.stamp-request__tab-before,
.stamp-request__tab-after {
    margin: 10px 50px;
    font-size: 18px;
}

.stamp-request__tab a {
    text-decoration: none;
    color:black;
}

.tab--selected {
    font-weight: bold;
}

.stamp-request__table {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    border-collapse: collapse;
    color: rgba(115, 115, 115, 1);
}

.stamp-request__table th:nth-of-type(1),
.stamp-request__table td:nth-of-type(1) {
    padding-left: 50px;
    width: 160px;
}

.stamp-request__table th:nth-of-type(2),
.stamp-request__table td:nth-of-type(2) {
        width: 140px;
}

.stamp-request__table th:nth-of-type(3),
.stamp-request__table td:nth-of-type(3) {
    width: 170px;
}

.stamp-request__table th:nth-of-type(4),
.stamp-request__table td:nth-of-type(4) {
    width: auto;
}

.stamp-request__table th:nth-of-type(5),
.stamp-request__table td:nth-of-type(5) {
    width: 170px;
}

.stamp-request__table th:nth-of-type(6),
.stamp-request__table td:nth-of-type(6) {
    width: 130px;
}


.stamp-request__table th,
.stamp-request__table td {
    text-align: left;
    height: 50px;
}

.stamp-request__table tr th,
.stamp-request__table tr:not(:last-of-type) td {
    border-bottom: 3px solid rgb(240, 239, 242);
}

.stamp-request__table a {
    text-decoration: none;
    color: black;
}

@media(max-width:1100px) {
    .stamp-request__wrapper {
        max-width: 90vw;
    }
    .stamp-request__title {
        margin-bottom: calc(50px * 0.7);
    }
    .stamp-request__tab {
        margin-bottom: calc(50px * 0.7);
    }
    .stamp-request__table tr {
        display: grid;
        grid-template-columns: 30% 29% 29% 12%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "state date request-time detail" "name note note note";
        grid-gap: 0;
    }
    .stamp-request__table th:nth-of-type(1),
    .stamp-request__table td:nth-of-type(1) {
        padding-left: 4.5vw;
        grid-area: state;
        width: 100%;
        border-bottom: none !important;
        line-height: 50px;
    }

    .stamp-request__table th:nth-of-type(2),
    .stamp-request__table td:nth-of-type(2) {
        padding-left: 4.5vw;
        grid-area: name;
        width: 100%;
    }

    .stamp-request__table th:nth-of-type(3),
    .stamp-request__table td:nth-of-type(3) {
        grid-area: date;
        width:100%;
        border-bottom: none !important;
        line-height: 50px;
    }

    .stamp-request__table th:nth-of-type(4),
    .stamp-request__table td:nth-of-type(4) {
        grid-area: note;
        width:100%;
    }

    .stamp-request__table th:nth-of-type(5),
    .stamp-request__table td:nth-of-type(5) {
        grid-area: request-time;
        width:100%;
        border-bottom: none !important;
        line-height: 50px;
    }

    .stamp-request__table th:nth-of-type(6),
    .stamp-request__table td:nth-of-type(6) {
        grid-area: detail;
        width:100%;
        border-bottom: none !important;
        line-height: 50px;
    }
}