.verify-email__wrapper {
    margin: 200px auto 0;
    max-width: 700px;
    text-align: center;
    font-weight: bold;
}

.verify-email__message {
    font-size: 22px;
    margin-bottom: 50px;
}

.verify-email__link {
    margin-bottom: 50px;
}

.verify-email__link a{
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 1);
    text-decoration: none;
    padding: 15px 25px;
    font-size: 22px;
    color: black;
}

.verify-email__resend button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgba(0, 115, 204, 1);
    font-size: 18px;
}